<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Tickets</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Ticket</a>
    </li>
  </ul>
</mat-toolbar>
