<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveTicket(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="ticket?.title"
        required
        minlength="3"
        placeholder="Ticket Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Title is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="status"
        [ngModel]="ticket?.status"
        required
        minlength="3"
        placeholder="Ticket Status Ex. Active, In progress"
        #status="ngModel">
      <mat-error *ngIf="status.invalid">Status is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
      matInput
      rows="4"
      name="content"
      [ngModel]="ticket?.content"
      required
      placeholder="Ticket Content"
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Content is required</mat-error>
    </mat-form-field>
      <!-- <input type="file" (change)="onFileSelected($event)">
      <button mat-raised-button color="accent" type="button" (click)="onUpload()">Upload</button> -->
    <button mat-raised-button color="primary" type="submit">Create Ticket</button>
  </form>
</mat-card>
