<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="tickets.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let ticket of tickets">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{ ticket.title }}</strong>
      </mat-panel-title>
      <mat-panel-description>
        {{ ticket.status }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ ticket.content }}</p>
    <!-- <p>{{ ticket.file }}</p> -->
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', ticket.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(ticket.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="tickets.length < 1 && !isLoading">No Ticket has been created.</p>
